<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celine's Travel Blog</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
<header>
        <nav class="top-nav">
                <a href="/">Home</a>
                <div class="dropdown">
                    <a href="/popdestinations" class="dropbtn">My Top Recommended Destinations To Visit</a>
                    <div class="dropdown-content">
                        <a href="/colombia">Visit Colombia</a>
                        <a href="/brazil">Visit Brazil</a>
                        <a href="/galapagos">Visit The Galápagos Islands</a>
                    </div>
                </div>

                    <a href="/traveltips">Travel Tips</a>

                <div class="dropdown">
                    <a href="/getintouch" class="dropbtn">Get in Touch</a>
                    <div class="dropdown-content">
                        <a href="/feedbackform">Feedback Form</a>
                        <a href="/quiz">Interesting Country Facts Quiz</a>
                        <a href="/travelstories">Submit Your Travel Story</a>
                        <a href="/contactus">Contact us</a>
                    </div>
                </div>
                    <a href="/login">Login To Your Profile</a>
                    <a href="/signup">Sign Up</a>

        </nav>
    </header>
</body>
</html>