 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celine's Travel Blog</title>
    <link rel="stylesheet" href="/static/styles/styles.css"> <!--css styles linked here-->

<!--custom styles for this page-->
<style>
        /* CSS to center the paragraph */
        .center {
            text-align: center; /* Center text horizontally */
        }
    </style>
</head>

<body>
    <header>
        <nav class="top-nav"> <!--top navigation bar-->
                <a href="/">Home</a>
                <div class="dropdown">
                    <a href="/popdestinations" class="dropbtn">Explore</a>
                    <div class="dropdown-content">
                        <a href="/colombia">Visit Colombia</a>
                        <a href="/brazil">Visit Brazil</a>
                        <a href="/galapagos">Visit The Galápagos Islands</a>
                    </div>
                </div>

                <div class="dropdown">

                    <a href="/traveltips">Travel Tips</a>
                    <div class="dropdown-content">

                        <a href="/facts">Interesting Facts About Latam Countries</a>
                    </div>
                </div>

                <div class="dropdown">
                    <a href="/getintouch" class="dropbtn">Get in Touch</a>
                    <div class="dropdown-content">
                        <a href="/feedbackform">Feedback Form</a>
                        <a href="/travelstories">Submit Your Travel Story</a>
                        <a href="/contactus">Contact us</a>
                    </div>
                </div>
                    <a href="/login">Login</a>
                    <a href="/signup">Sign Up</a>

            <form id="searchForm" action="" method="GET">
        <input type="text" id="searchInput" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <script src="static/script.js" defer></script> <!-- Link to my JavaScript file -->

        </nav>
    </header>

    <section id="home" class="hero">
        <h1>Welcome to my travel blog</h1>
        <div class="container">
        <p><img src="static/images/machupicchu.jpeg" alt="Machu Picchu, Peru"></p>
    </div>

    </section>

    <section id="about">
        </section>

    <section id="contact"style="text-align: center;">
        <h2>About Me</h2>
        <p>I enjoy travelling to new places and recently spent a year exploring Latin America. Throughout my travels, I've gathered valuable knowledge and tips that I hope to share with others through this website. </p>

        <h2>How to get in touch with me:</h2>
        <a href="/contactus"><b>Learn More</b></a>
    </section>

    <footer style="text-align: center;">
        <p>&copy; 2024. </p>
    </footer>

</body>
</html>